@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Colores personalizados principales - Coinciden con frontend */
    --color-primary: #009a45;
    --color-secondary: #0f392b;
    --color-accent: #dbf228;
    --color-surface: #f8fafc;
}

@variant dark (&:is(.dark *));
