@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Colores corporativos SEIA - Coinciden con frontend */
    --color-primary: #386641;   /* Verde Bosque - hoja */
    --color-secondary: #1B263B; /* Azul Navy - tipografía SEIA y gota */
    --color-accent: #F48C06;    /* Naranja de Seguridad - foco/bombilla */
    --color-surface: #f8fafc;
}

@variant dark (&:is(.dark *));
